<h1>ILoc and Filters</h1>

<p>This is a continuation of the study of DataFrames</p>

<p>Esta é uma continuação do estudo de DataFrames</p>

In [9]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4), index=["A", "B" ,"C" ,"D" , "E"], columns="W X Y Z".split())
df

          W         X         Y         Z
A -0.436556 -0.319170 -0.642102 -1.226796
B  0.685970 -0.862605  0.828430 -0.920787
C -1.803039  1.267111  1.131228 -1.073496
D -1.156784  0.010582  1.917729 -2.189614
E  0.771085  2.097022  0.124734  0.203013

In [11]:
#The way to make selection with iloc is very similar to what is done when slicing lists.
#All except the last row and all columns.
df.iloc[:-1, :]

          W         X         Y         Z
A -0.436556 -0.319170 -0.642102 -1.226796
B  0.685970 -0.862605  0.828430 -0.920787
C -1.803039  1.267111  1.131228 -1.073496
D -1.156784  0.010582  1.917729 -2.189614

In [16]:
#Select only rows from index 1 to 2 and columns from index 0 to 2.

df.iloc[1:3, :3]

          W         X         Y
B  0.685970 -0.862605  0.828430
C -1.803039  1.267111  1.131228

In [17]:
#Just like I can perform arithmetic operations with dataframes, I can also perform conditional operations

df + df

          W         X         Y         Z
A -0.873112 -0.638340 -1.284204 -2.453593
B  1.371940 -1.725209  1.656860 -1.841574
C -3.606077  2.534223  2.262455 -2.146992
D -2.313568  0.021163  3.835457 -4.379228
E  1.542169  4.194045  0.249467  0.406027

In [18]:
df < 0

       W      X      Y      Z
A   True   True   True   True
B  False   True  False   True
C   True  False  False   True
D   True  False  False   True
E  False  False  False  False

In [19]:
#I can use conditional operations to filter elements in a DataFrame. 
#For example, if I want to return only elements that are greater than zero.

df[df < 0]

          W         X         Y         Z
A -0.436556 -0.319170 -0.642102 -1.226796
B       NaN -0.862605       NaN -0.920787
C -1.803039       NaN       NaN -1.073496
D -1.156784       NaN       NaN -2.189614
E       NaN       NaN       NaN       NaN

In [20]:
df['Y'] > 0

A    False
B     True
C     True
D     True
E     True
Name: Y, dtype: bool

In [23]:
#Select only the rows where the values in column Y are greater than zero.

df[df['Y'] > 0]

          W         X         Y         Z
B  0.685970 -0.862605  0.828430 -0.920787
C -1.803039  1.267111  1.131228 -1.073496
D -1.156784  0.010582  1.917729 -2.189614
E  0.771085  2.097022  0.124734  0.203013

In [29]:
#Now only the rows that have elements greater than zero both in column Y and in column Z.
#Only the E row is True

(df['Y'] > 0) & (df['Z'] > 0)

A    False
B    False
C    False
D    False
E     True
dtype: bool

In [30]:
df[(df['Y'] > 0) & (df['Z'] > 0)]

          W         X         Y         Z
E  0.771085  2.097022  0.124734  0.203013