<h1>MULTILEVEL INDICES</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]

mult_index = list(zip(outside, inside))
mult_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [3]:
mult_index = pd.MultiIndex.from_tuples(mult_index)
mult_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
df = pd.DataFrame(np.random.randn(6,2), index = mult_index, columns = ['A','B'])
df

             A         B
G1 1  2.040780  0.515645
   2  1.301887 -1.332884
   3  0.528495 -0.797964
G2 1  0.334935 -0.535079
   2  0.447693  0.472974
   3 -0.378011  2.091960

In [5]:
#I can use loc, passing the name of the index in the first column, and I get the following result

df.loc['G1']

          A         B
1  2.040780  0.515645
2  1.301887 -1.332884
3  0.528495 -0.797964

In [6]:
#To select the indices of the second column, I need to pass it together with the index of the first column

df.loc['G1'].loc[1]

A    2.040780
B    0.515645
Name: 1, dtype: float64

In [8]:
#In DataFrame

df.loc['G1'].loc[[1]]

         A         B
1  2.04078  0.515645

In [9]:
#Notice that the index columns have no names

df.index.names

FrozenList([None, None])

In [12]:
#I can define names for the index columns in the following way

df.index.names = ['Group', 'Number']
df

                     A         B
Group Number
G1    1       2.040780  0.515645
      2       1.301887 -1.332884
      3       0.528495 -0.797964
G2    1       0.334935 -0.535079
      2       0.447693  0.472974
      3      -0.378011  2.091960

In [14]:
#With the following method, I can directly access the index of the second column by passing 
#the parameter "level" with the name of the index column that I want to access

df.xs(1, level='Number')

              A         B
Group
G1     2.040780  0.515645
G2     0.334935 -0.535079

In [15]:
#Or I can use like the loc()

df.xs('G1')

               A         B
Number
1       2.040780  0.515645
2       1.301887 -1.332884
3       0.528495 -0.797964