<h1>Exercises/ Exercícios</h1>

<p>Analise o banco de dados de um supermercado e responda as perguntas a seguir.</p>
<p>Analyze the database of a supermarket and answer the following questions.</p>

In [2]:
#Command required to use the pandas library
import pandas as pd

In [7]:
# Loading a .csv file into a variable with Pandas.
df_data = pd.read_csv("supermarket_sales.csv")

In [8]:
# Shows the first lines of the file.
df_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

<h3>1. What is the total revenue per branch?/ Qual o faturamento total por filial?</h3>

In [49]:
df_data.groupby("Branch")["Total"].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

<h3>2. What is the percentage of revenue contribution for each product type?/ Qual o percentual de participação na receita de cada tipo de produto?</h3>

In [19]:
# The total value of each product, divided by the total revenue. The sort_values to sort from lowest to highest
# The multiplication by 100 to move the decimal point
(df_data.groupby("Product line")["Total"].sum() / df_data.groupby("Product line")["Total"].sum().sum()).sort_values()*100

Product line
Health and beauty         15.231828
Home and lifestyle        16.677232
Fashion accessories       16.814702
Electronic accessories    16.824497
Sports and travel         17.067648
Food and beverages        17.384094
Name: Total, dtype: float64

<h3>3. How is the distribution of product type consumed by gender (Female/Male)?/ Como está distribuído o tipo de produto consumido por gênero (Feminino/Masculino)?</h3>

In [30]:
df_data.groupby(["Product line", "Gender"])[["Total"]].sum().pivot_table(index="Product line", columns="Gender")

                             Total
Gender                      Female        Male
Product line
Electronic accessories  27102.0225  27235.5090
Fashion accessories     30437.4000  23868.4950
Food and beverages      33170.9175  22973.9265
Health and beauty       18560.9865  30632.7525
Home and lifestyle      30036.8775  23825.0355
Sports and travel       28574.7210  26548.1055

<h3>4. What was the revenue for the month?/ Qual foi o faturamento do mês?</h3>

In [34]:
df_data["Date"] = pd.to_datetime(df_data["Date"])
df_data["Month"] = df_data["Date"].apply(lambda x: x.month)
df_data["Year"] = df_data["Date"].apply(lambda x: x.year)

In [39]:
df_data.groupby(["Month","Year"])["Total"].sum()

Month  Year
1      2019    116291.868
2      2019     97219.374
3      2019    109455.507
Name: Total, dtype: float64

<h3>5. What was the average rating for each branch in January 2019?/ Qual foi a média de avaliação por cada filial em Janeiro de 2019?</h3>

In [50]:
df_data[(df_data["Year"] == 2019) & (df_data["Month"] == 1)].groupby("Branch")["Rating"].mean()

Branch
A    7.078151
B    6.801802
C    7.154918
Name: Rating, dtype: float64

<h3>6. How is the spending distributed by consumer type at each branch?/ Como se distribui o gasto por tipo de consumidor em cada filial?</h3>

In [52]:
df_data.groupby(["Customer type", "Branch"])["Total"].sum()

Customer type  Branch
Member         A         53637.4755
               B         53704.6860
               C         56881.2825
Normal         A         52562.8950
               B         52492.9860
               C         53687.4240
Name: Total, dtype: float64