<h1>Exercises</h1>

Link to Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## In this project, we will work with two separate CSV files containing information on gasoline prices in Brazil.


### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
gas_2000 = pd.read_csv('Exercises_Pandas/gasolina_2000+.csv', decimal='.')
gas_2000 = pd.DataFrame(gas_2000)

gas_2010 = pd.read_csv('Exercises_Pandas/gasolina_2010+.csv', low_memory=False, decimal='.')
gas_2010 = pd.DataFrame(gas_2010)

In [3]:
gas_2000

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
42634,52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
42635,52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
42636,52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
42637,52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
gas_2010

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
3,9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
4,9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [5]:
gas_2000_2010 = pd.concat([gas_2000, gas_2010])

In [6]:
gas_2000_2010

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [42]:
gas_2000_2010.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO E MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.96660,0.133,2004-05,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,2004-05,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.16100,0.098,2004-05,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.03170,0.082,2004-05,2004

In [43]:
gas_2000_2010.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 78184
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  datetime64[ns]
 2   DATA FINAL                     120823 non-null  datetime64[ns]
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      117423 non-null  float64
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      117423 non-null  float64
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
 19  ANO E MÊS                      120823 non-null  period[M]
 20  ANO                            120823 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(3), object(8), period[M](1)
memory usage: 20.3+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [7]:
type(gas_2000_2010['DATA INICIAL'].iloc[3])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [8]:
gas_2000_2010['DATA INICIAL'] = pd.to_datetime(gas_2000_2010['DATA INICIAL'])

In [9]:
gas_2000_2010['DATA FINAL'] = pd.to_datetime(gas_2000_2010['DATA FINAL'])

In [10]:
type(gas_2000_2010['DATA INICIAL'].iloc[3])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
type(gas_2000_2010['DATA FINAL'].iloc[3])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
gas_2000_2010['DATA INICIAL'].dtype

dtype('<M8[ns]')

In [13]:
gas_2000_2010['DATA FINAL'].dtype

dtype('<M8[ns]')

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [14]:
gas_2000_2010['ANO E MÊS'] = gas_2000_2010['DATA FINAL'].dt.to_period('M')

In [15]:
gas_2000_2010.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO E MÊS
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [16]:
gas_2000_2010['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [17]:
comum_gas = gas_2000_2010[gas_2000_2010['PRODUTO'] == 'GASOLINA COMUM']
comum_gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO E MÊS
9256,12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
9257,12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
9258,12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
9259,12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
9260,12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [18]:
august_2008 = gas_2000_2010[gas_2000_2010['ANO E MÊS'] == '2008-08']

In [19]:
august_2008['PREÇO MÉDIO REVENDA'].mean()

9.300789303079418

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [20]:
gas_2000_2010[(gas_2000_2010['ESTADO'] == 'SAO PAULO') & (gas_2000_2010['ANO E MÊS'] == '2014-05')]['PREÇO MÉDIO REVENDA'].mean()

8.920766666666667

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [21]:
gas_2000_2010[['ESTADO', 'DATA INICIAL', 'DATA FINAL', 'PREÇO MÁXIMO REVENDA']][((gas_2000_2010['PRODUTO'] == 'GASOLINA COMUM') | (gas_2000_2010['PRODUTO'] == 'GASOLINA ADITIVADA'))&(gas_2000_2010['PREÇO MÁXIMO REVENDA'] > 5)]

               ESTADO DATA INICIAL DATA FINAL  PREÇO MÁXIMO REVENDA
49833            ACRE   2017-08-27 2017-09-02                 5.100
50133            ACRE   2017-09-10 2017-09-16                 5.200
50434            ACRE   2017-09-24 2017-09-30                 5.200
50733            ACRE   2017-10-08 2017-10-14                 5.200
51033            ACRE   2017-10-22 2017-10-28                 5.200
...               ...          ...        ...                   ...
78083         RORAIMA   2021-04-25 2021-05-01                 5.530
78084  SANTA CATARINA   2021-04-25 2021-05-01                 5.599
78085       SAO PAULO   2021-04-25 2021-05-01                 6.099
78086         SERGIPE   2021-04-25 2021-05-01                 5.699
78087       TOCANTINS   2021-04-25 2021-05-01                 6.119

[2096 rows x 4 columns]

In [22]:
gas_2000_2010[['ESTADO', 'DATA INICIAL', 'DATA FINAL', 'PREÇO MÁXIMO REVENDA']][((gas_2000_2010['PRODUTO'] == 'GASOLINA COMUM') | (gas_2000_2010['PRODUTO'] == 'GASOLINA ADITIVADA'))&(gas_2000_2010['PREÇO MÁXIMO REVENDA'] > 5)].value_counts()

ESTADO     DATA INICIAL  DATA FINAL  PREÇO MÁXIMO REVENDA
PARA       2021-04-18    2021-04-24  6.100                   2
ACRE       2020-11-29    2020-12-05  5.310                   2
AMAZONAS   2021-03-21    2021-03-27  5.990                   2
           2021-04-11    2021-04-17  5.800                   2
           2021-04-18    2021-04-24  5.800                   2
                                                            ..
GOIAS      2019-05-05    2019-05-11  5.199                   1
           2019-04-28    2019-05-04  5.170                   1
           2018-11-25    2018-12-01  5.190                   1
           2018-11-18    2018-11-24  5.190                   1
TOCANTINS  2021-04-25    2021-05-01  6.119                   1
Length: 2071, dtype: int64

### 11. Qual a média de preço dos estados da região sul em 2012?

In [23]:
gas_2000_2010[(gas_2000_2010['REGIÃO'] == 'SUL') & (gas_2000_2010['ANO E MÊS'].dt.year == 2012)]['PREÇO MÉDIO REVENDA'].mean()

9.842052564102566

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [24]:
gas_2000_2010['ANO'] = gas_2000_2010['ANO E MÊS'].dt.year

In [25]:
gas_2000_2010[gas_2000_2010['ESTADO']=='RIO DE JANEIRO'].pivot_table(index='ANO', columns='ESTADO', values='COEF DE VARIAÇÃO REVENDA', aggfunc='mean')

ESTADO  RIO DE JANEIRO
ANO
2004          0.056067
2005          0.055729
2006          0.058958
2007          0.062196
2008          0.056412
2009          0.060960
2010          0.064042
2011          0.058936
2012          0.066823
2013          0.061196
2014          0.063840
2015          0.064366
2016          0.066296
2017          0.071811
2018          0.061792
2019          0.063458
2020          0.064464
2021          0.052119

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [26]:
gas_2000_2010['PREÇO MÁXIMO DISTRIBUIÇÃO'] = pd.to_numeric(gas_2000_2010['PREÇO MÁXIMO DISTRIBUIÇÃO'], errors='coerce')
gas_2000_2010['PREÇO MÍNIMO DISTRIBUIÇÃO'] = pd.to_numeric(gas_2000_2010['PREÇO MÍNIMO DISTRIBUIÇÃO'], errors='coerce')

In [27]:
gas_2000_2010['PREÇO MÁXIMO DISTRIBUIÇÃO'].dtypes

dtype('float64')

In [28]:
gas_2000_2010['PREÇO MÍNIMO DISTRIBUIÇÃO'].dtypes

dtype('float64')

In [29]:
price_dif_rev = gas_2000_2010['PREÇO MÁXIMO REVENDA']-gas_2000_2010['PREÇO MÍNIMO REVENDA']
price_dif_dist = gas_2000_2010['PREÇO MÁXIMO DISTRIBUIÇÃO']-gas_2000_2010['PREÇO MÍNIMO DISTRIBUIÇÃO']

In [30]:
perc_rev = (price_dif_rev*100)/gas_2000_2010['PREÇO MÍNIMO REVENDA']
perc_dist = (price_dif_dist*100)/gas_2000_2010['PREÇO MÍNIMO DISTRIBUIÇÃO']

In [31]:
new_df_gas = gas_2000_2010.loc[:,['DATA INICIAL','ESTADO','PREÇO MÍNIMO REVENDA','PREÇO MÁXIMO REVENDA','PREÇO MÍNIMO DISTRIBUIÇÃO','PREÇO MÁXIMO DISTRIBUIÇÃO']]

In [32]:
new_df_gas['DIFEREÇA ABSOLUTA PREÇO REVENDA'] = price_dif_rev
new_df_gas['DIFEREÇA ABSOLUTA PREÇO DISTRIBUIÇÃO'] = price_dif_dist
new_df_gas['PERCENTUAL PREÇO REVENDA'] = perc_rev
new_df_gas['PERCENTUAL PREÇO DISTRIBUIÇÃO'] = perc_dist

In [38]:
new_df_gas.sort_values(by='DATA INICIAL', ascending=True, inplace=True)

In [40]:
new_df_gas.set_index('DATA INICIAL', inplace=True)

In [41]:
new_df_gas

,ESTADO,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,DIFEREÇA ABSOLUTA PREÇO REVENDA,DIFEREÇA ABSOLUTA PREÇO DISTRIBUIÇÃO,PERCENTUAL PREÇO REVENDA,PERCENTUAL PREÇO DISTRIBUIÇÃO
DATA INICIAL,,,,,,,,,
2004-05-09,DISTRITO FEDERAL,1.190,1.350,0.4201,0.9666,0.160,0.5465,13.445378,130.088074
2004-05-09,PARANA,1.230,1.600,1.0029,1.3090,0.370,0.3061,30.081301,30.521488
2004-05-09,SAO PAULO,1.210,1.590,1.1410,1.3690,0.380,0.2280,31.404959,19.982472
2004-05-09,RIO DE JANEIRO,1.199,1.699,1.1430,1.3021,0.500,0.1591,41.701418,13.919510
2004-05-09,MINAS GERAIS,1.229,1.659,1.1170,1.2967,0.430,0.1797,34.987795,16.087735
...,...,...,...,...,...,...,...,...,...
2021-04-25,ESPIRITO SANTO,5.290,6.090,-99999.0000,-99999.0000,0.800,0.0000,15.122873,-0.000000
2021-04-25,GOIAS,5.390,6.099,-99999.0000,-99999.0000,0.709,0.0000,13.153989,-0.000000
2021-04-25,MARANHAO,4.950,5.199,-99999.0000,-99999.0000,0.249,0.0000,5.030303,-0.000000
2021-04-25,PARANA,5.040,6.290,-99999.0000,-99999.0000,1.250,0.0000,24.801587,-0.000000
2021-04-25,TOCANTINS,4.199,4.699,-99999.0000,-99999.0000,0.500,0.0000,11.907597,-0.000000